@import '~bootstrap/scss/bootstrap';

main{
    height: calc(100vh - 57px);
    overflow: auto;
}
.main-wrapper{
    height: calc(100vh - 57px);
}

.jt-nav-link{
    color: white;
    font-size: .9rem;
    text-decoration: none;
    &:hover{
        color: white;
        text-decoration: underline;
    }
}

.paginator{
    margin-top: 10px;
    .pagination{
        .page-item{
            margin: 0 4px;
            &.active .page-link{
                background-color: #dc3545 !important;
            }
            .page-link{
                color: black;
                border: solid 1px black;
                border-radius: 8px;
                font-size: .8rem;
            }
        }
    }
}
